@import url('https://fonts.googleapis.com/css2?family=Acme&family=Allerta&family=Amaranth&family=Montserrat:wght@400;600&family=Rubik:wght@400;600&display=swap');

body {
  margin: 0;
  background-color: #f0fbfe;
  font-family: "Montserrat", "Rubik", "Amaranth", "Acme", "Allerta", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spinner {
  height: 150px;
  width: 150px;
  border: 6px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  align-self: center;
  animation: spin 1.2s ease linear
}

@keyframes spin {
  to {
    rotate: (360deg);
  }
}