.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 300px;
    background: linear-gradient(180deg, #fff 70%, #83eaf8);
    transition: 0.4s;
}

.sidebar__collapsed {
    width: 75px
}

.sidebar__upper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.sidebar__upper--collapsed {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.space1 {
    border-bottom: 1px solid #83eaf8;
    margin: 20px 0 20px 20px;
}

.space1__collapsed {
    margin: 20px 0 30px 20px;
}

.sidebar__options {
    margin-bottom: 10px;
}

.space2 {
    border-bottom: 1px solid #83eaf8;
    margin: 10px 0 20px 20px;
}