.sidebar--items {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 10px;
}

.sidebar--items:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #83eaf8;
    margin-right: 10px;
}

.sidebar--items-active {
    cursor: pointer;
    border-radius: 5px;
    background-color: #83eaf8;
    margin-right: 10px;
}